html {
    font-size: 62.5%;
}
body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 96rem;
    margin: 0 auto;
    padding: 1rem;
}
#hiddenLink {
    height: 4rem;
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 4rem;
    cursor: pointer;
}
.btn {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
}
.btn:hover, .btn:focus {
    background-color: #27ae60;
}
.btn > * {
    position: relative;
}
.btn span {
    display: block;
    padding: 12px 24px;
}
.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
.form-item {
    display: block;
    margin: 2rem auto;
    width: 50%;
}
.form-item__label {
    width: 100%;
    font-size: 1.5rem;
}
.form-item__input {
    width: 100%;
    font-size: 1.5rem;
}
.form-generation-section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.form-generation-section .form-generation-section__test,
.form-generation-section .form-generation-section__new {
    width: 45%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    display: inline-block;
    margin: 2rem 1rem;
}
.form-generation-section .form-generation-section__test {
    background-color: rgb(250,250,250);
    color: rgb(33,33,33);
}
.form-generation-section .form-generation-section__new {
    background-color: rgb(16,108,200);
}
.form-creator-section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.file-upload {
    position: relative;
    overflow: hidden;
    background: #eee;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
}
.file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.form-creator-section__header {
    font-size: 2rem;
    margin: 1rem auto;
}
input {
    width: 100%;
    display: block;
    border: none;
    padding: .5rem 0;
    border-bottom: solid .1rem #1abc9c;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -100% 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #0e6252;
    margin-bottom: 1rem;
}
input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.submit-btn {
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
}
.new-form-section {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}
.new-fields {
    margin-top: 1rem;
}
.new-fields__item {
    text-align: left;
}
.selection .btn {
    margin: 1rem auto;
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    background-color: rgb(250,250,250);
    color: rgb(33,33,33);
}
.selection select {
    width: 50%;
    font-size: 4rem;
}
input[type=checkbox]{
    width: auto;
    display: inline-block;
    margin-left: 1rem;
}